#layout{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 150px;
    gap: 10px;
}

.botoes{
    width: 50px;
    height: 30px;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    border-radius: 10px;
}
