form{
    display: inline-grid;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
}

body{
    display: flex;
    justify-content: center;
    background-color: black;
}

label{
    color: white;
}

#resultado_nome{
    color: white;
    font-size: larger;
}

.Saudavel{
    color: green;
}