@import url('https://fonts.googleapis.com/css2? family= Silkscreen & display=swap');

body{
background-color: #ffffff;
}

a{
    text-decoration: none;
}

p{
color: #f4e5c2;
}

ul {
list-style-type:none;
margin: -10px 0px 0px -20px;
padding: 0px;
border-bottom: 3px solid #a7a0a0;
overflow: hidden;
list-style-type: none;
font-size: 17px;
font-weight: bolder;
top: -15px;
position: sticky;
background-color: #ffffff
}

li {
float: left;
}

li a, .dropbtn {
display: inline-block;
color: #1883F5;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #4FEDFF;
}

.banner{
flex-wrap: wrap;
padding-left: 575px;
padding-right: 707px;
width: 10px;
margin-left: -20px;
border-bottom:  3px solid #a7a0a0
}

.primeira-materias{
display: grid;
height: 250px;
}

.primeiras-materia:hover:not(.active) {
background-color: #4FEDFF;
height: 250px;
}

#primeira-imagem{
height: 250px;
width: 350px;
border-radius: 0px 0px 20px 20px;
position:absolute;
}

#primeiro-textoIMG {
left: 20px;
margin-left: 400px;
}

#titulo1{
font-family: 'Silkscreen';
text-align: center;
font-size: 60px;
color: #1883F5;
}
#segunda-imagem{
height: 250px;
width: 350px;
position: absolute;
border-radius: 0px 0px 20px 20px;
}
